# ignore folders
**/draft/
**/exports/
**/imports/
**/superceded/
iam/

# ignore files ext
**/*.log
*.zip
*.recover
*.ffs

# infoasset snapshot files
**/*.isfd
**/*.isfc

# ignore files
#*.gitignore
github_pull.bat
github_push.bat
github_notes.txt